<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
        <meta charset="utf-8" />
    <title>بسته نصبی شلوار</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'unicons.iconscout.com/release/v3.0.6/css/line.css' %}">
        <!-- Main Css -->
        <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="{% static 'css/colors/default.css' %}" rel="stylesheet" id="color-opt">
        <meta name="csrftoken" content="{{ csrf_token }}"/>

    </head>

    <body>


        <section class="bg-profile d-table w-100 bg-primary" style="background: url({% static 'images/account/bg.png' %}) center center;" id="shalvar_installer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="row align-items-end">
                                            <div class="col-md-12 text-md-start text-center mt-4 mt-sm-0">
                                                <h3 class="title mb-0" style="text-align: center;">بسته نصب</h3><br/>
                                                <h4 class="text-muted h6 me-2" style="text-align: center;">شروع نصب شلوار</h4>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--ed container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Profile Start -->
        <section class="section mt-60" id="shalvar">
            <div class="container mt-lg-3">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="rounded shadow p-4">
                            <div class="row">
                                <div class="col-lg-12 col-md-12mt-4 pt-2">
                                    <div class="text-center">
                                        <div class="content mt-3">
                                            <div class="alert alert-success" role="alert">از شما ممنونیم که شلوار را انتخاب کردید</div>
                                            <div class="alert alert-warning" role="alert" v-if="first_step">اگر دیتابیسی برای شما غیر فعال است ابتدا آن را روی سرور خود نصب کنید سپس امتحان کنید</div>
                                                <div class="col mt-4 pt-2" id="forms">
                                                    <div class="component-wrapper rounded shadow">
                                                        <div class="p-4" v-if="first_step">
                                                            <form>
                                                                <div class="row">

                                                                    <div class="col-md-12">
                                                                        <div class="mb-3">
                                                                            <div class="col mt-4 pt-2" id="select-box">
                                                                                <div class="component-wrapper rounded shadow">
                                                                                    <div class="mb-0">
                                                                                        <select class="form-select form-control" aria-label="Default select example" v-model="database_type" id="select_database">
                                                                                            <option selected value="default">انتخاب دیتابیس</option>
                                                                                            <option value="mysql" id="mysql">msyql ( مای اس کیوال )</option>
                                                                                            <option value="postgresql" id="postgresql">postgresql ( پستگرس ) </option>
                                                                                            <option value="sqlite" id="sqlite">sqlite ( اس کیو لایت )</option>
                                                                                            <option value="mongodb" id="mongodb">mongodb ( مونگو )</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6" v-if="!is_sqlite_selected">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="clipboard" class="fea icon-sm icons"></i>
                                                                                <input name="database_username" type="text" class="form-control ps-5" placeholder="یوزرنیم دیتابیس" v-model="database_username">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6" v-if="!is_sqlite_selected">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="lock" class="fea icon-sm icons"></i>
                                                                                <input name="database_password" type="password" class="form-control ps-5" placeholder="کلمه‌ی عبور دیتابیس" v-model="database_username">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6" v-if="!is_sqlite_selected">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="database" class="fea icon-sm icons"></i>
                                                                                <input name="database_name" type="text" class="form-control ps-5" placeholder="نام دیتابیس" v-model="database_name">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6" v-if="!is_sqlite_selected">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="code" class="fea icon-sm icons"></i>
                                                                                <input name="database_port" type="number" class="form-control ps-5" placeholder="پورت دیتابیس" v-model="database_port">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </form>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <button data-bs-toggle="modal" data-bs-target="#install" class="btn btn-primary" @click="install_shalvar_first_step">مرحله بعدی</button>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="p-4" v-else>
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="globe" class="fea icon-sm icons"></i>
                                                                                <input name="name" id="name" type="text" class="form-control ps-5" placeholder="نام وبسایت :" v-model="website_name">
                                                                            </div>
                                                                        </div>
                                                                    </div><!--end col-->
                                                                    <div class="col-md-6">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                                                <input name="email" id="email" type="email" class="form-control ps-5" placeholder="آدرس پنل مدیریت :" v-model="admin_path">
                                                                            </div>
                                                                        </div>
                                                                    </div><!--end col-->
                                                                    <div class="col-md-12">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="book" class="fea icon-sm icons"></i>
                                                                                <input name="subject" id="subject" class="form-control ps-5" placeholder="موضوع وبسایت : " v-mode="website_subject">
                                                                            </div>
                                                                        </div>
                                                                    </div><!--end col-->
                                                                    <div class="col-md-6">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                                                <input name="email" id="email" type="email" class="form-control ps-5" placeholder="نام کاربری مدیر :" v-model="admin_username">
                                                                            </div>
                                                                        </div>
                                                                    </div><!--end col-->
                                                                    <div class="col-md-6">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="lock" class="fea icon-sm icons"></i>
                                                                                <input name="email" id="email" type="email" class="form-control ps-5" placeholder="کلمه عبور مدیر :" v-model="admin_password">
                                                                            </div>
                                                                        </div>
                                                                    </div><!--end col-->
                                                                    <div class="col-md-12">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="at-sign" class="fea icon-sm icons"></i>
                                                                                <input name="subject" id="subject" class="form-control ps-5" placeholder="ایمیل مدیر : " v-model="admin_email">
                                                                            </div>
                                                                        </div>
                                                                    </div><!--end col-->
                                                                    <div class="col-md-12">
                                                                        <div class="mb-3">
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="globe" class="fea icon-sm icons"></i>
                                                                                <input name="subject" id="subject" class="form-control ps-5" placeholder="دامنه : " v-model="website_domain">
                                                                            </div>
                                                                        </div>
                                                                    </div><!--end col-->
                                                                    <div class="col-md-12">
                                                                        <div class="mb-3">
                                                                            <label class="form-label"></label>
                                                                            <div class="form-icon position-relative">
                                                                                <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                                                                <textarea name="comments" id="comments" rows="4" class="form-control ps-5" placeholder="درباره وبسایت :" v-model="website_description"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </form>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <button data-bs-toggle="modal" data-bs-target="#install" class="btn btn-primary" @click="install_shalvar">نصب شلوار</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal fade" id="install" tabindex="-1" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content rounded shadow border-0">
                                                                    <div class="modal-body py-5">
                                                                        <div class="text-center" v-if="is_ok">
                                                                            <div class="icon d-flex align-items-center justify-content-center bg-soft-success rounded-circle mx-auto" style="height: 95px; width:95px;">
                                                                                <h1 class="mb-0"><i class="uil uil-shield-check align-middle"></i></h1>
                                                                            </div>
                                                                            <div class="mt-4">
                                                                                <h4>شلوار با موفقیت نصب شد</h4>
                                                                                <p class="text-muted">امیدواریم استفاده ی بهینه و کامل رو از این سیستم ببری همچنین اگه به باگ یا مشکلی خوردید خوشحال میشیم مارو در اختیار بزاری :)</p>
                                                                                <div class="mt-4">
                                                                                    <a href="javascript:void(0)" class="btn btn-outline-primary">ورود به پنل مدیریت</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="text-center" v-else>
                                                                            <div class="icon d-flex align-items-center justify-content-center bg-soft-success rounded-circle mx-auto" style="height: 95px; width:95px;">
                                                                                <h1 class="mb-0"><i class="uil uil-shield-check align-middle"></i></h1>
                                                                            </div>
                                                                            <div class="mt-4">
                                                                                <h4>لیست خواسته های شما خالی است.</h4>
                                                                                <p class="text-muted">اولین درخواست لیست خواسته های خود را ایجاد کنید...</p>
                                                                                <div class="mt-4">
                                                                                    <a href="javascript:void(0)" class="btn btn-outline-primary">+ لیست خواسته های جدید ایجاد کنید</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer footer-bar">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="text-sm-start">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> شلوار. طراحی شده با  <i class="mdi mdi-heart text-danger"></i> توسط  <a href="#" target="_blank" class="text-reset">مبین فیضیان </a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script src="{% static 'js/switcher.js' %}"></script>
    <script src="{% static 'js/plugins.init.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'vue.min.js' %}"></script>
    <script>
        let shalvar = new Vue({
            el: "#shalvar",
            data: {
                website_name: null,
                admin_path: null,
                website_subject: null,
                admin_username: null,
                admin_password: null,
                website_description: null,
                website_domain: null,
                admin_email: null,
                is_ok: true,
                database_name: null,
                database_username: null,
                database_type: 'default',
                database_password: null,
                database_port: null,
                errors: [],
                first_step: true,
                is_sqlite_selected: false,
            },
            methods: {
                install_shalvar_first_step: function() {
                    let form = new FormData();
                    form.append('website_name', this.website_name);
                    form.append('admin_path', this.admin_path);
                    form.append('website_subject', this.website_subject);
                    form.append('admin_username', this.admin_username);
                    form.append('admin_password', this.admin_password);
                    form.append('website_description', this.website_description);
                    form.append('website_domain', this.website_domain);
                    form.append('admin_email', this.admin_email);

                    let csrftoken = document.querySelector('meta[name="csrftoken"]').content
                    console.log(csrftoken);

                    $.ajax({
                        url: "/install/api/second-step/",
                        type: "POST",
                        data: form,
                        processData: false,
                        contentType: false,
                        cache: false,
                        headers: {
                            'X-CSRFToken': csrftoken
                        },

                        success: data => {

                        },
                        error: error => {
                            let errors = error.responseJSON.result.errors;
                            for (const [key, value] of Object.entries(errors)) {
                                this.errors.push(value[0]);
                            }
                            console.log(this.errors);
                        }
                    })
                },

                check_databases: function() {
                    $.ajax({
                        url: "/install/api/databases/",
                        type: "GET",
                        processData: false,
                        contentType: false,
                        cache: false,

                        success: data => {
                            if (data.result.mysql) {
                                document.getElementById('mysql').disabled = false;
                            } else if (!data.result.mysql) {
                                document.getElementById('mysql').disabled = true;
                            }

                            if (data.result.postgresql) {
                                document.getElementById('postgresql').disabled = false;
                            } else if (!data.result.postgresql) {
                                document.getElementById('postgresql').disabled = true;
                            }

                            if (data.result.mongodb) {
                                document.getElementById('mongodb').disabled = false
                            } else if (!data.result.mongodb) {
                                document.getElementById('mongodb').disabled = true;
                            }
                        }
                    })
                },

                check_sqlite: function() {
                    setInterval(() => {
                        if (document.getElementById('sqlite').selected) {
                            this.is_sqlite_selected = true;
                        } else {
                            this.is_sqlite_selected = false;
                        }
                    })
                },

                goStepTwo: function() {
                    if (document.getElementById('sqlite').selected) {
                        this.first_step = false;
                    }
                }
            },
            mounted() {
                this.check_databases();
                this.check_sqlite();
            }
        })
    </script>
</html>